.content{
  display: flex;
  flex-direction: column;
}

.products {
  display: flex;
  flex-direction: column;
}

.navigation {
  background-color: #ff7f50;
  min-height: 200px;
  display: flex;
  flex: 1;
}

.products-list {
  background-color: #006400;
  min-height: 200px;
  display: flex;
  flex: 1;
}

.news {
  background-color: #0ff;
  min-height: 200px;
  display: flex;
  flex: 1;
}

span {
  background: #faebd7;
  padding: 8px;
  border-radius: 4px;
  text-transform: lowercase;
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

@media screen and (min-width: 600px) {
  .products {
    flex-direction: row;
    flex-grow: 2;
    flex: 2;
  }
}
@media screen and (min-width: 900px) {
  .content {
    flex-direction: row;
  }
}
