.header {
  background-color: darkturquoise;
  height: 40px;
  width: 100%;
  position: fixed;
}

.navigation {
  height: 40px;
}

.nav-list {
  height: 40px;
}

.nav-item {
  display: flex;
  flex-direction: row;
  float: left;
  color: white;
  margin-top: 0px;
  align-items: center;
  line-height: ;
  margin-left: 16px;

}

.content {
  background-color: beige;
  height: 5000px;
}

.head {
  height: 200px;
  width: 200px;
  background-color: aquamarine;
  position: relative;
  top: 250px;
  margin-left: auto;
  margin-right: auto;
}

.ear {
  background-color: brown;
  height: 60px;
  width: 40px;
  position: absolute;
}

.ear_right {
  left: 200px;
  top: -60px;
}

.ear_left {
  left: -40px;
  top: -59px;
}

.eye {
  border-radius: 30px;
  background-color: grey;
  position: relative;
  padding: 15px;
  margin-top: 80px;
}
.eye_left {
  margin-left: 40px;
  float: left;
}
.eye_right {
  margin-right: 40px;
  float: right;
}
