

.header {
  background-color: darkturquoise;
  height: 40px;
  width: 100%;
  position: fixed;
}

.navigation {
  height: 40px;
}

.nav-item {
  display: flex;

  float: left;
  color: white;

  line-height: 50%;
  margin-left: 16px;
}

.content {
  background-color: beige;
  height: 5000px;
}

.head {
  display: inline-block;
  height: 200px;
  width: 200px;
  background-color: aquamarine;

  margin-left: 40%;
  margin-right: auto;
  margin-top: 150px;
}
.ear {
  background-color: brown;
  height: 60px;
  width: 40px;
  position: relative;
}

.ear_right {
  left: 200px;

  top: -60px;
}

.ear_left {
  left: -40px;
  top: -118px;
}

.eye {
  border-radius: 30px;
  background-color: grey;

  padding: 15px;
  margin-top: -35px;
}
.eye_left {
  margin-left: 40px;
  float: left;
}
.eye_right {
  margin-right: 40px;
  float: right;
}
